
:root {
    --textual-bg: #FFF;
    --article-text: #7D7987;
    --article-link: rgb(64, 137, 237);
    --article-link-hover: rgb(50, 120, 200);
}

.div-article {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.div-article .article-textual {
    height: 272px;
    padding: 25px 60px 35px 33px;
    border-radius: 0 0 20px 20px;
    background-color: var(--textual-bg);
    box-shadow: 10px 40px 50px #E5E9F6;
}

.article-textual .article-title {
    font-size: 21px;
    font-weight: 700;
}

.article-textual .article-text {
    margin: 12px 0 25px;
    text-align: justify;
    line-height: 28px;
    font-weight: 300;
    color: var(--article-text);
}

.article-textual .article-link {
    display: inline-flex;
    align-items: center;
    grid-column-gap: 15px;
    color: var(--article-link);
    text-decoration: none;
    transition: color 0.2s;
}

.article-textual .article-link:hover {
    color: var(--article-link-hover);
}

@media screen and (max-width: 600px) {

    .div-article .article-image {
        display: none;
    }

    .div-article .article-textual {
        height: initial;
        padding: 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 5px 10px 15px #E1E2F1;
    }

}

@media screen and (min-width: 600.02px) and (max-width: 1199.98px) {

    .div-article {
        max-width: 600px;
    }
    
    
    .div-article .article-textual {
        height: initial;
        padding: 25px 33px;
        box-shadow: 10px 15px 30px #E1E2F1;
    }

    .article-textual .article-title {
        font-size: 23px;
        font-weight: 700;
    }

    .article-textual .article-text {
        margin: 12px 0 25px;
        font-size: 18px;
    }

    .article-textual .article-link {
        font-size: 20px;
    }

}