
:root {
    --articles-btn: #458FF6;
    --articles-btn-hover: rgba(50, 100, 200);
}

.bg-dots6 {
    position: absolute;
    top: -45px;
    left: -60px;
    z-index: 0;
}
  

.section-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 215px;
}

.section-articles .articles-title {
    font-size: 36px;
    font-weight: 700px;
}

.section-articles .img-separator {
    height: 3px;
    margin: 25px 0 80px;
}

.section-articles .articles-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 34px;
    margin: 0 50px;
}

.section-articles .articles-btn {
    margin: 72px;
    padding: 20px 65px;
    border: 1.5px solid var(--articles-btn);
    border-radius: 55px;
    color: var(--articles-btn);
    background-color: var(--bg);
    font-family: "Muli";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.section-articles .articles-btn:hover {
    color: var(--articles-btn-hover);
    border-color: var(--articles-btn-hover);
}

.section-articles .articles-btn:active {
    transform: scale(0.98);
}

@media screen and (max-width: 600px) {

    .section-articles {
        margin-top: 55px;
    }

    .section-articles .articles-title {
        text-align: center;
        font-size: 36px;
    }

    .section-articles .img-separator {
        height: 3px;
        margin: 30px 0;
    }

    .section-articles .articles-grid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-row-gap: 10px;
        margin: 0;
    }

    .section-articles .articles-btn {
        margin: 32px;
        padding: 30px 70px;
        border: 1.5px solid var(--articles-btn);
        font-size: 20px;
        font-weight: 700;
    }

}

@media screen and (min-width: 600.02px) and (max-width: 1199.98px) {

    .section-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 105px;
    }

    .section-articles .articles-title {
        font-size: 38px;
    }

    
    .section-articles .img-separator {
        margin: 25px 0 40px;
    }

    .section-articles .articles-grid {
        grid-template-columns: auto;
        grid-row-gap: 34px;
        margin: 0 10px;
    }

    .section-articles .articles-btn {
        margin: 32px;
        padding: 30px 80px;
        font-size: 22px;
        cursor: pointer;
    }





}
