
:root {
    --nav-icon-bg: #458FF6;
    --nav-logo: #233348;
    --nav-link: #1F1534;
    --nav-link-home: #1A1A1A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

nav .nav-div-logo {
    display: flex;
    align-items: center;
    grid-column-gap: 24px;
}


.nav-div-logo .nav-logo-icon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--nav-icon-bg);
    font-size: 26px;
    font-weight: 900;
    cursor: pointer;
}

.nav-div-logo .nav-logo-name {
    color: var(--nav-logo);
    font-size: 24px;
}

nav .nav-div-menu {
    display: flex;
    align-items: center;
    grid-column-gap: 24px;
}

.nav-div-menu .nav-link {
    color: var(--nav-link);
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding: 12px;
}

.nav-div-menu .nav-link:hover {
    border-color: #000;
}

.nav-div-menu .link-home {
    color: var(--nav-link-home);
    font-weight: 600;
}

.nav-div-menu .link-selected  {
    font-weight: 700;
    text-shadow: 
    -0.2px -0.2px 0 #000,  
    0.2px -0.2px 0 #000,
    -0.2px 0.2px 0 #000,
    0.2px 0.2px 0 #000;
}


@media screen and (max-width: 600px) {

    nav {
        flex-direction: column;
        grid-row-gap: 20px;
    }

    nav .nav-div-logo {
        grid-column-gap: 10px;;
    }

    .nav-div-logo .nav-logo-icon {
        width: 64px;
        height: 64px;
        font-size: 30px;
    }

    .nav-div-logo .nav-logo-name {
        font-size: 32px;
    }

    nav .nav-div-menu {
        width: 90%;
        flex-direction: column;
        grid-row-gap: 10px;
    }

    .nav-div-menu .nav-link {
        width: 90%;
        text-align: center;
        color: #F5F5F5;
        background-color: var(--nav-icon-bg);
    }

    .nav-div-menu .nav-link:active {
        transform: scale(0.98);
    }
}

@media screen and (min-width: 600.02px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        grid-row-gap: 20px;
    }

    .nav-div-logo .nav-logo-icon {
        width: 72px;
        height: 72px;
        font-size: 32px;
    }

    .nav-div-logo .nav-logo-name {
        font-size: 36px;
    }

    nav .nav-div-menu {
        grid-column-gap: 13px;
    }

}
