
@font-face {
  font-family: "Muli-light";
  src: url("./fonts/muli/Muli-Light.ttf");
}

@font-face {
  font-family: "Muli-regular";
  src: url("./fonts/muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli-semibold";
  src: url("./fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
  font-family: "Muli-bold";
  src: url("./fonts/muli/Muli-Bold.ttf");
}


:root {
  --bg: #FAFAFA;
}


* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  background-color: var(--bg);
  font-family: "Muli-regular";
}

h1, h2, h3,
h4, h5, h6,
p {
  margin: 0
}

img {
  pointer-events: none;
}

.bg-dots {
  height: 90px;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 0;
}

.bg-dots2 {
  width: 130px;
  height: 115px;
  position: absolute;
  top: 1425px;
  right: 10px;
  z-index: 0;
}

.blob {
  position: absolute;
  top: 965px;
  left: -265px;
  z-index: 0;
}

.bg-dots3 {
  width: 75px;
  position: absolute;
  top: 2700px;
  right: 0;
  z-index: 0;
}

/* bg-dots4 and bg-dots5 are inside Customers SubComponent */


.blob2 {
  position: absolute;
  top: 4250px;
  right: 0;
  z-index: 0;
}

/* bg-dots6 is inside Articles SubComponent: inside grid container */

.bg-dots7 {
  width: 120px;
  position: absolute;
  top: 5155px;
  right: 125px;
  z-index: 0;
}

/* bg-dots8 is inside Footer Component */

@media screen and (max-width: 1023.98px) {
  /* className visibility used only for images from "index.html" */
  .visibility {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .bg-dots {
    height: 75px;
    display: initial;
    top: -25px;
    left: 5px;
  }
}

@media screen and (min-width: 600.02px) and (max-width: 992px) {
  .bg-dots {
    height: 120px;
    display: initial;
    top: -30px;
    left: 50px;
    transform: rotate(90deg);
  }
}


@media screen and (max-width: 1199.98px) {

  .bg-dots2 {
    display: none;
  }
  
  .bg-dots3 {
    display: none;
  }

  .bg-dots6 {
    display: none;
  }

}

@media screen and (max-width: 1499.98px) {

  .blob2 {
    display: none;
  }

  .bg-dots7 {
    display: none;
  }

}